extends layout

block content
	h1= title
	p Welcome to #{title}
	a(href="/")<-Back
	a(href="/tweetmap/#{screen_name}") Map my Tweets!
	if tweets.errors
		for error in tweets.errors
			p #{error.message}
	else
		ul
			for tweet in tweets
				li
					img(src=tweet.user.profile_image_url)
					|#{tweet.text}

	a(href="/logout") Logout